################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NFSLibrary/obj
/DokanNet/obj
/jportmap/obj
/jrpcgen/obj
