################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NFSLibrary/obj
/DokanNet/obj
/jportmap/obj
/jrpcgen/obj
/remoteteanet/obj
/NFSLibrary/bin/Debug/netstandard2.0
/.vs/NekoDrive/v16/.suo
/NFSClientExample/bin/Debug/net5.0
/NFSClientExample/obj
